*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image__list {
    display: flex;
}

.image {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    padding-inline:0.5rem;
    transition: opacity 0.2s ease-out;
}

